//
//  FleeceStaticLib.xcconfig
//  Fleece
//
//  Created by Jens Alfke on 4/20/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

CLANG_ENABLE_MODULES            = NO;
CLANG_ENABLE_MODULE_DEBUGGING   = NO;
DEBUG_INFORMATION_FORMAT        = dwarf;
EXECUTABLE_PREFIX               = lib
GENERATE_MASTER_OBJECT_FILE     = NO;
PRODUCT_NAME                    = fleeceStatic
