//
//  FleeceDylib_Release.xcconfig
//  Fleece
//
//  Created by Jens Alfke on 8/17/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "FleeceDylib.xcconfig"

DEPLOYMENT_POSTPROCESSING   = YES
STRIP_STYLE                 = non-global
STRIP_INSTALLED_PRODUCT     = YES                   // Strip debug symbols
LD_GENERATE_MAP_FILE        = YES                   // Generate link map, to analyze code size
