//
//  FleeceTest.xcconfig
//  Fleece
//
//  Created by Jens Alfke on 4/20/18.
//  Copyright 2018-Present Couchbase, Inc.
//
//  Use of this software is governed by the Business Source License included
//  in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
//  in that file, in accordance with the Business Source License, use of this
//  software will be governed by the Apache License, Version 2.0, included in
//  the file licenses/APL2.txt.
//

// Workaround for Catch 2 requiring C++ features not available until macOS 10.12
MACOSX_DEPLOYMENT_TARGET            = 10.12

CLANG_WARN__EXIT_TIME_DESTRUCTORS = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _LIBCPP_DEBUG=0
RUN_CLANG_STATIC_ANALYZER    = NO

CODE_SIGNING_ALLOWED = NO
