//
// Project.xcconfig
//

#include "XcodeWarnings.xcconfig"

WARNING_CFLAGS = $(WARNING_CFLAGS) -Wno-unknown-warning-option -Wno-atomic-implicit-seq-cst  // ignore unknown warning flags
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = NO     // jsonsl calls strcpy
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN__EXIT_TIME_DESTRUCTORS = NO
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = NO
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_SIGN_COMPARE = NO
GCC_TREAT_WARNINGS_AS_ERRORS                       = YES
CLANG_STATIC_ANALYZER_MODE = shallow


HEADER_SEARCH_PATHS                                = API $(SRCROOT)/vendor/date/include   // allows for #include <fleece/Fleece.h>


IPHONEOS_DEPLOYMENT_TARGET                         =  9.0
MACOSX_DEPLOYMENT_TARGET                           = 10.12
TVOS_DEPLOYMENT_TARGET                             =  9.0
ONLY_ACTIVE_ARCH                                   = YES
SKIP_INSTALL                                       = YES
SUPPORTED_PLATFORMS                                = macosx iphoneos iphonesimulator appletvos appletvsimulator

CODE_SIGN_IDENTITY                                 =
VERSION_INFO_PREFIX                                =
VERSIONING_SYSTEM                                  = apple-generic

COPY_PHASE_STRIP                                   = NO
DEBUG_INFORMATION_FORMAT                           = dwarf
PRODUCT_NAME                                       = $(TARGET_NAME)

ALWAYS_SEARCH_USER_PATHS                           = NO

CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW         = YES    // range-check C++ STL containers

CLANG_CXX_LANGUAGE_STANDARD                        = c++17
CLANG_CXX_LIBRARY                                  = libc++
CLANG_ENABLE_MODULES                               = YES
CLANG_ENABLE_OBJC_ARC                              = YES

CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS         = YES    // require @synthesize

ENABLE_STRICT_OBJC_MSGSEND                         = YES

GCC_C_LANGUAGE_STANDARD                            = c99
GCC_ENABLE_CPP_EXCEPTIONS                          = YES
GCC_ENABLE_CPP_RTTI                                = YES
GCC_ENABLE_OBJC_EXCEPTIONS                         = YES
GCC_NO_COMMON_BLOCKS                               = YES

COMBINE_HIDPI_IMAGES                               = YES    // Stop Xcode from complaining

// Make memset_s available
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __STDC_WANT_LIB_EXT1__=1
