[submodule "vendor/jsonsl"]
	path = vendor/jsonsl
	url = https://github.com/snej/jsonsl.git
[submodule "vendor/double-conversion"]
	path = vendor/double-conversion
	url = https://github.com/google/double-conversion
