language: cpp

matrix:
  include:
    - name: Linux GCC 7
      os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
    - name: Linux Clang 5
      os: linux
      addons:
        apt:
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
    - name: Mac Clang (Xcode 10)
      os: osx
      osx_image: xcode10
      
before_install:
    - eval "${MATRIX_EVAL}"

script: "cd build_cmake && ./build.sh"
